<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybb.sys.mapper.SellInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ybb.sys.entity.SellInfo">
        <id column="sellId" property="sellId" />
        <result column="sellEmployeeNo" property="sellEmployeeNo" />
        <result column="sellProductId" property="sellProductId" />
        <result column="sellCustomerNo" property="sellCustomerNo" />
        <result column="sellNum" property="sellNum" />
        <result column="sellPrice" property="sellPrice" />
        <result column="sellDate" property="sellDate" />
        <result column="sellRemark" property="sellRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sellId, sellEmployeeNo, sellProductId, sellCustomerNo, sellNum, sellPrice, sellDate, sellRemark
    </sql>

</mapper>
